body {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

#image-sidebar {
    display: inline;
    width: 40%;
}

#backgroundImageCredit {
    position: absolute;
    bottom: 5%;
    left: 0%;
    width: 40%;
    height: 2%;
    color: white;
    text-align: center;
}

#backgroundImage {
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 20%;
    left: 10%;
}

form {
    width: 60%;
    height: 100vh;
    background-color: lightgray;
}

#submitButton {
    margin-left: 3%;
    margin-top: 2%;
    height: 5vh;
    color: white;
    background-color: #57b6bb;
    border-radius: 7px;
    border-width: 0px;
}

#userInformation {
    background-color: white;
}

h1 {
    margin: 3%;
}

p {
    margin-left: 3%;
}